<app-layout>
  <ng-container class="container-body">
    <div class="p-4 p-md-5 mb-4 text-center rounded">
      <div class="px-0">
        <h1 class="display-4 fst-italic fw-bolder">عن حياة كريمة </h1>
        <p class="lead my-3">إنها تلك المبادرة الوطنية التي أطلقها السيد الرئيس عبد الفتاح السيسي، رئيس جمهورية مصر
          العربية، 2 يناير من
          العام الميلادي وهي مبادرة متعددة في أركانِها ومتكاملة في ملامِحِها. تنبُع هذه المبادرة من مسؤولية حضارية وبُعد
          إنساني قبل أي شيء آخر، فهي أبعدُ من كونها مبادرة تهدفُ إلى تحسين ظروف المعيشة والحياة اليومية للمواطن المصري،
          لأنها تهدف أيضا إلى التدخل الآني والعاجل لتكريم الإنسان المصري وحفظ كرامته وحقه في العيش الكريم، ذلك المواطن
          الذي تحمل فاتورة الإصلاح الاقتصادي والذي كان خير مساند للدولة المصرية في معركتها نحو البناء والتنمية. لقد كان
          المواطن المصري هو البطل الحقيقي الذي تحمل كافة الظروف والمراحل الصعبة بكل تجرد وإخلاص وحب للوطن.</p>
      </div>
    </div>


    <div class="mt-5 text-center">


      <div class="p-4 p-md-5 mb-4 text-center rounded">
        <div class="px-0">
          <h1 class="display-4 fst-italic fw-bolder">الاهداف</h1>
          <ul class="lead my-3" style="list-style: none;">
            <li>الاستثمار في تنمية الانسان المصري</li>
            <li>سد الفجوات التنموية بين المراكز والقرى وتوابعها</li>
            <li>اشعار المجتمع المحلي بفارق إيجابي في مستوى معيشتهم</li>
            <li>الارتقاء بالمستوى الاجتماعي والاقتصادي والبيئي للأسر المستهدفة</li>
            <li>تنظيم صفوف المجتمع المدني وتطير الثقة في كافة مؤسسات الدولة</li>
            <li>التخفيف عن كاهل المواطنين بالتجمعات الأكثر احتياجا في الريف والمناطق العشوائية في الحضر</li>
            <li>احياء قيم المسؤولية المشتركة بين كافة الجهات الشريكة لتوحيد التدخلات التنموية في المراكز والقرى وتوابعها
            </li>
            <li>توفير فرص عمل لتدعين استقلالية المواطنين وتحفيزهم للنهوض بمستوى المعيشة لأسرهم وتجمعاتهم المحلية</li>
            <li>التنمية الشاملة للتجمعات الريفية الأكثر احتياجا بهدف القضاء على الفقر متعدد الأبعاد لتوفير حياة كريمة
              مستدامة للمواطنين على مستوى الجمهورية</li>
          </ul>
        </div>
      </div>

      <div class="p-4 p-md-5 mb-4 text-center rounded">
        <div class="px-0">
          <h1 class="display-4 fst-italic fw-bolder">المبادئ</h1>
          <ul class="lead my-3" style="list-style: none;">
            <li>الشفافية في تداول المعلومات</li>
            <li>النزاهة في أداء الخدمة لمستحقيها</li>
            <li>تعزيز الحماية الاجتماعية للفئات الأكثر احتياجا</li>
            <li>الثقة المتبادلة بين كافة الجهات الشريكة والشباب المتطوع للعمل</li>
            <li>التوازن بين تقديم التدخلات الخدمية والتدخلات التنموية والإنتاجية</li>
            <li>الالتزام والتعهد لكل شريك للقيام بدوره وفق منهجية العمل ومعايير الخدمات</li>
            <li>دعم اللامركزية عن طريق تفويض السلطة وإتاحة قدر أكبر من المرونة وتقريب المسافة بين مستويات اتخاذ القرار
            </li>
          </ul>
        </div>
      </div>

      <div class="p-4 p-md-5 mb-4 text-center rounded">
        <div class="px-0">
          <h1 class="display-4 fst-italic fw-bolder">الفئات المستهدفة</h1>
          <ul class="lead my-3" style="list-style: none;">
            <li>الأسر الأكثر احتياجا في التجمعات الريفية</li>
            <li>كبار السن</li>
            <li>ذوي الهمم</li>
            <li>المتطوعين</li>
            <li>النساء المعيلات والمطلقات</li>
            <li>الأيتام والأطفال</li>
            <li>الشباب القادر على العمل</li>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</app-layout>
